<h1>Reports#customers</h1>
<nav>
  <%= link_to "Classifieds", reports_classifieds_path %>
  <%= link_to "Customers", reports_customers_path %>
  <%= link_to "List", reports_list_path %>
  <%= link_to "Products", reports_products_path %>
</nav>
<p>Find me in app/views/reports/customers.html.erb</p>

<p>This will server as some kind of ledger, I'd imagine.  I'll have to adapt this page soon.</p>
<%= stylesheet_link_tag "application" %>