<h1>Reports#list</h1>
<nav>
  <%= link_to "Classifieds", reports_classifieds_path %>
  <%= link_to "Customers", reports_customers_path %>
  <%= link_to "List", reports_list_path %>
  <%= link_to "Products", reports_products_path %>
</nav>
<p>Find me in app/views/reports/list.html.erb</p>

<p>This page will provide links to various different available reports</p>
<%= stylesheet_link_tag "application" %>