<!DOCTYPE html>
<html>
  <head>
    <title>Respect your Elders</title>
    <%= image_tag 'RYE.jpeg' %>
    <%= csrf_meta_tags %>
    <nav>
    <%= link_to "Index", nav_index_path %>
    <%= link_to "About", nav_about_path %>
    <%= link_to "Contact", nav_contact_path %>
    <%= link_to "Cars Database", cars_path %>
    <%= link_to "Search", nav_search_path %>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
  <nav>
    <%= link_to "Privacy", nav_privacy_path %>
    <%= link_to "Help", nav_help_path %>
  </nav>
  </footer>
</html>
