<!DOCTYPE html>
<html>
  <head>
    <title>Respect your Elders</title>
    <%= image_tag 'RYE.jpeg' %>
    <%= csrf_meta_tags %>
    <nav>
    <%= link_to "Index", nav_index_path %>
    <%= link_to "About", nav_about_path %>
    <%= link_to "Contact", nav_contact_path %>
    <%= link_to "Cars Database", cars_path %>
    <%= link_to "Search", search_search_path %>
    <%= link_to "Reports", reports_list_path %>
    <%= link_to "Register", users_path, method: "register" %>
    <%= link_to "Log In", sessions_new_path, method: "login" %>
    <%= link_to "Log Out", sessions_destroy_path, method: "logout" %>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
  <nav>
    <%= link_to "Privacy", nav_privacy_path %>
    <%= link_to "Help", nav_help_path %>
    <%= link_to "Promotions", promotions_path %>

  </nav>
  </footer>
</html>
