<p id="notice"><%= notice %></p>

<p>
  <strong>Car make:</strong>
  <%= @car.car_make %>
</p>

<p>
  <strong>Car year:</strong>
  <%= @car.car_year %>
</p>

<p>
  <strong>Car price:</strong>
  <%= @car.car_price %>
</p>

<p>
  <strong>Car mileage:</strong>
  <%= @car.car_mileage %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
